@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
    /* background: #ff0000; */
    font-family: 'Poppins', sans-serif !important;
    margin: 0;
    padding: 0;
    border: 0;
  }

:root {
    --piki-1: #9db6c4;
    --piki-2: #001bca;
    --piki-3: #6167ff;
    --piki-4: #0d8aff;
    --piki-5: #61c7ff;
    --piki-6: #041941;
    --piki-white: #fff;
}

.bg-piki-1 {
    background-color: var(--piki-1);
}

.bg-piki-2 {
    background-color: var(--piki-2);
}

.bg-piki-3 {
    background-color: var(--piki-3);
}

.bg-piki-4 {
    background-color: var(--piki-4);
}

.bg-piki-5 {
    background-color: var(--piki-5);
}

.bg-piki-6 {
    background-color: var(--piki-6);
}

.bg-piki-white {
    background-color: var(--piki-white);
}

.bg-piki-white-pucat {
    background-color: #f7f7f7;
}

html, body, svg, div {
    margin: 0;
    padding: 0;
    border: 0;
}
#foo {
    /* background:salmon; */
    margin-top: -5px !important;
    vertical-align:top;
}

footer #footer {
    margin: 0 !important;
    padding: 0 !important;
    border: 0 !important;
}

/* header */
.header {
    /* background: #291586; */
    /* background-size: contain; */
    height: 100%!important;
    width: 100% !important;
    margin-top: 68px !important;
}


body .header .content {
    padding-top: 90px;
}

body .header .content .button-header .btn-listing {
    width: 150px;
    height: 50px;
    background: #0d8aff;
    margin-top: -400px;
    border-radius: 8px;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    color: #fff;
}


/* program */
.header-program {
    margin-top: -114px !important;
}

.header-program h1 {
    padding-top: 15px !important;
    margin-bottom: -10px !important;
    padding-bottom: 20px !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
    text-align: center;
    font-weight:400;
    font-size: 25px !important;
    width: 100% !important;
    /* background-color: #f7f7f7; */
    background-color: #61c7ff;
}

#program {
    background-color: #041941;
    margin-top: 10px !important;
}

/* berita */
.header-berita {
    margin-top: -24px !important;
    position: absolute;
    z-index: 2;
    width: 100%;
}
.header-berita h1 {
    padding-top: 15px !important;
    padding-bottom: 20px !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
    text-align: center;
    font-weight:400;
    font-size: 25px !important;
    width: 100% !important;
    /* background-color: #f7f7f7; */
    background-color: #61c7ff;
}
.judul-berita {
    font-size: 25px !important;
    font-weight: 600;
}

.card-poto-berita {
    height: 100% !important;
    width: 100% !important;
    object-fit: cover;
}

.footer-berita {
    padding-top: 0px !important;
}

/* agenda */
.content-3-2-agenda {
    padding-top: 2.5rem;
}

.content-3-2-agenda .title-text {
    font-weight:400;
    font-size: 25px !important;
    color: #121212;
}

/* anggota */
.header-anggota {
    margin-top: 0px !important;
    width: 100%;
}
.header-anggota h1 {
    padding-top: 15px !important;
    padding-bottom: 20px !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
    text-align: center;
    font-weight:400;
    font-size: 25px !important;
    width: 100% !important;
    /* background-color: #f7f7f7; */
    background-color: #61c7ff;
}

.content-3-2-anggota {
    padding: 0rem;
}

.content-3-2-anggota .img-hero {
    width: 50%;
    margin-bottom: 0;
}
